<configuration>
  <appSettings>
    <add key="CNC3Path" value="F:\Games\Command and Conquer 3\Command &amp; Conquer 3\CNC3.exe"/>
    <add key="CNC3KWPath" value="F:\Games\Command and Conquer 3\Command &amp; conquer 3 tiberium wars kane`s wrath\cnc3ep1.exe"/>
    <add key="DevicefriendlyName" value="TUNE510BT Hands"/>
    <add key="DeviceHardwareId" value="BTHHFENUM\BthHFPAudio"/>
  </appSettings> 
</configuration>